@import "tailwindcss";

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

html,
body,
#root {
  background-color: #0f0f0f;
  color: rgba(255, 255, 255, 0.87);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}